body{
  background-color:rgb(47, 3, 87);
  font-family:Arial, Helvetica, sans-serif;
  padding: 1rem;
}
header{
  background-color:rgb(168, 61, 230);
  line-height: 2.5;
  padding: 1rem;
  margin-bottom: 1rem;
}
.item {
  background-color:rgb(157, 106, 187);
  line-height: 10;
  padding: 1rem;
  margin-bottom: 1rem;
}
.info {
  background-color:rgb(99, 59, 122);
  line-height: 10;
  padding: 1rem;
  margin-bottom: 1rem;
}
button {
  background-color:rgb(115, 21, 169);
  line-height: 2.5;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
footer {background-color:rgb(135, 11, 173);
  padding: 1rem;
  line-height:2.5;
}