body{
  background-color:rgb(79, 3, 66);
  font-family:Arial, Helvetica, sans-serif;
  padding: 1rem;
}
section, header, main, footer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
header{
  background-color:rgb(252, 2, 210);
  line-height: 2.5;
  padding: 1rem;
  margin-bottom: 1rem;
}
.resin {
  background-color:rgb(195, 47, 170);
  padding: 1rem;
  line-height:5;
}
.picture1 {
  background-color:rgb(231, 112, 211);
  padding: 1rem;
  line-height:10;
}
.picture2 {
  background-color:rgb(186, 89, 186);
  padding: 1rem;
  line-height:10;
}
.picture3 {
  background-color:rgb(218, 61, 191);
  padding: 1rem;
  line-height:10;
}
.picture4 {
  background-color:rgb(219, 139, 206);
  padding: 1rem;
  line-height:10;
}
.picture5 {
  background-color:rgb(191, 78, 172);
  padding: 1rem;
  line-height:10;
}
.picture6 {
  background-color:rgb(213, 134, 176);
  padding: 1rem;
  line-height:10;
}
.picture7 {
  background-color:rgb(189, 68, 169);
  padding: 1rem;
  line-height:10;
}
.picture8 {
  background-color:rgb(129, 36, 114);
  padding: 1rem;
  line-height:10;
}
.picture9 {
  background-color:rgb(244, 145, 228);
  padding: 1rem;
  line-height:10;
}
.picture10 {
  background-color:rgb(252, 71, 222);
  padding: 1rem;
  line-height:10;
}
footer {
   background-color:rgb(207, 132, 194);
  padding: 1rem;
  line-height:2.5;
}